.BlogCard{
    background-color:white;
    height:300px;
    width:340px;
    margin:20px 10px 20px 10px;
    padding:0;
    border-radius: 12px;

    
    
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.3s;

}

.BlogCard:hover{
    transform:translateY(-8px);
    transform:scale(1.05);
}

.BlogCard img{
    border-radius: 12px 12px 0px 0px;
    width: 340px;
    height:192px;
}
.BlogCt{
    display: grid;
grid-template-columns: repeat(2 1fr);
justify-items: left;
align-items: center;
}
.BlogCt h1{
    text-decoration-line: none;
    text-decoration: none;
    font-size:18px;   
    font-family: pingfangsc-semibold;
    
    color: black;
    margin:12px 12px 12px 12px;
}
.BlogCt p2{
    text-decoration: none;
    font-size:14px;
    font-family: pingfangsc-regular;
    font-weight: 400;
    margin:0px auto 12px 12px;
    padding:4px 12px 4px 12px;
    border-radius: 2px;
    background-color: #f6f6f6;
    
    color: black;
    
}



/*







*/