h1{
    color:black;
    font-size: 28px;
    font-family: pingfangsc-semibold; 
}

p{
    color:grey;
    font-size: 16px;
    font-family: pingfangsc-regular; 
}





.blog-post-content{
    width: 1000px;
    background-color: red;
    background-position: center;
    margin: 0px auto 0px auto;
}